{% extends "feather/base.html" %}
{% load static %}
{% load i18n %}

{% block pagetitle %}{% trans "Logged Out" %}{% endblock %}

{% block extracss %}
    <link rel="stylesheet" type="text/css" href="{%  static 'feather/css/auth.css' %}" />
{% endblock %}

{% block contents %}
<div class="container">
    <div class="info"></div>
</div>
<div id="authformpane" class="authformpane">
    <div class="logothumbnail">
        <!-- img src="{% static 'images/mi_amor.png'%}" -->
        <h3><span class="bonoyellow">Yellow</span> Feather</h3>
    </div>
    <div class="messagepanel"></div>
    <h1 class="pagetitle">{% trans "Logged Out" %}</h1>
    <p class="lead">Successfully logged out. <a href="/feather/" class="small_link">Back Home</a></p>
</div>
{% endblock %}