{% extends "site_base.html" %}
{% load static %}
{% load i18n %}

{% block pagetitle %}{% trans "Confirm Email" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="info"></div>
</div>
<div id="authformpane" class="authformpane">
    <div class="logothumbnail">
        <img src="{% static 'images/mi_amor.png'%}">
    </div>
    <div class="messagepanel"></div>
    <h1>{% trans "Bad token" %}</h1>
    {% url "account_password_reset" as url %}
    <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ url }}">new password reset</a>.{% endblocktrans %}</p>
</div>
{% endblock %}


