{% extends "site_base.html" %}
{% load static %}
{% load account_tags %}
{% load i18n %}
{% load bootstrap_tags %}

{% block pagetitle %}{% trans "Password reset sent" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="info">
        {% user_display request.user as user_display %}
    </div>
</div>
<div id="authformpane" class="authformpane">
    {% if not resend %}
        <div class="logothumbnail">
            <img src="{% static 'images/mi_amor.png'%}">
        </div>
        <div class="messagepanel">
            <p class="text-muted">{% blocktrans %}We have sent you an email. If you do not receive it within a few minutes, try resending or contact us at <a href="mailto:{{ THEME_CONTACT_EMAIL }}">{{ THEME_CONTACT_EMAIL }}</a>.{% endblocktrans %}</p>
        </div>
        <form class="authform" method="POST" action="{% url 'account_password_reset' %}">
            {% csrf_token %}
            {% for field in form %}
                {{ field.as_hidden }}
            {% endfor %}
            <button class="btn btn-block" type="submit">{% trans "Resend" %}</button>
            <p class="message">{% blocktrans %}If you have any trouble resetting your password, contact us at <a href="mailto:{{ THEME_CONTACT_EMAIL }}">{{ THEME_CONTACT_EMAIL }}</a>.{% endblocktrans %}</p>
        </form>
    {% else %}
        <h3>Just a minute...</h3>
        <p>{% blocktrans %}We have resent the password email. If you do not receive it within a few minutes, contact us at <a href="mailto:{{ THEME_CONTACT_EMAIL }}">{{ THEME_CONTACT_EMAIL }}</a>.{% endblocktrans %}</p>
    {% endif %}
</div>
{% endblock %}