{% extends "site_base.html" %}
{% load static %}
{% load account_tags %}
{% load i18n %}
{% load bootstrap_tags %}

{% block pagetitle %}{% trans "Set your new password" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="info">
        {% user_display request.user as user_display %}
    </div>
</div>
<div id="authformpane" class="authformpane">
    <div class="logothumbnail">
        <img src="{% static 'images/mi_amor.png'%}">
    </div>
    <div class="messagepanel"></div>
    <form class="authform" method="POST" action="{% url 'account_password_reset_token' uidb36=uidb36 token=token %}" autocapitalize="off" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
        {% csrf_token %}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        {{ form|as_bootstrap }}
        <button class="btn btn-block" type="submit">{% trans "Save" %}</button>
        <p class="message">{% blocktrans %}Be sure to keep your password to yourself.{% endblocktrans %}</p>
    </form>
</div>
{% endblock %}